<div class="new-msg-form">
  {{input type="text" placeholder="Name" value=podName class="podName-input"}}
  {{input type="text" placeholder="Location" value=podLocation class="podLocation-input"}}
  <button {{action 'addPod'}} class="submit">Submit</button>
</div>
